[submodule "AccesoADatos"]
	path = AccesoADatos
	url = git@github.com:kuromiichi/AccesoADatos.git
[submodule "Android"]
	path = Android
	url = git@github.com:kuromiichi/Android.git
[submodule "dotNet"]
	path = dotNet
	url = git@github.com:kuromiichi/dotNet.git
[submodule "PSP"]
	path = PSP
	url = git@github.com:kuromiichi/PSP.git
